# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [2]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()
password=os.getenv("postgres")

In [3]:
# Create a connection to the database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/fraud_dectection")

In [4]:
# Write function that locates outliers using standard deviation
query = """
        SELECT * FROM transactions as t
        INNER JOIN credit_card AS c ON t.card = c.card
        """
transactions_df=pd.read_sql(query,engine)
new=transactions_df.drop(columns=['tranid','date','card','id_merchant'])
mean=new.groupby(['id']).mean()
std=new.groupby(['id']).std()

yeahdog=std-(mean*2)
yeahdog=yeahdog.loc[yeahdog['amount']>=0.00]
yeah=yeahdog.sort_values(['amount'],ascending=True)
yeah

        amount
id
3    51.011572
9    89.570652
24  115.723705
25  117.614823
12  135.639487
1   139.767507
18  142.750156
16  145.587579
7   150.100213
6   160.662926

In [5]:
# Find anomalous transactions for 3 random card holders
print(f'The id\'s experiencing the largest deviations from mean are:\n{yeah[7:10]}')

The id's experiencing the largest deviations from mean are:
        amount
id
16  145.587579
7   150.100213
6   160.662926

## Identifying Outliers Using Interquartile Range

In [73]:
# Write a function that locates outliers using interquartile range
q1=np.percentile(new['amount'],25,interpolation='midpoint')
q2=np.percentile(new['amount'],50,interpolation='midpoint')
q3=np.percentile(new['amount'],75,interpolation='midpoint')
iqr=q3-q1
print('interquartile range is',iqr)
lower=q1 - 1.5*iqr
upper=q3 + 1.5*iqr
from scipy import stats 
IQR = stats.iqr(new['amount'], interpolation = 'midpoint') 
IQR 
outlier = []
for x in new['amount']:
    if ((x> upper) or (x<lower)): 
         outlier.append(x)
outlierfull=transactions_df[transactions_df['amount'].isin(outlier)]

outlierfull.drop(columns=['tranid','card'],inplace=True)
df=outlierfull.groupby(['id']).sum().drop(columns=['id_merchant']).sort_values(by='amount',ascending=False)

anomalous3=outlierfull[outlierfull['id'].isin([12,16,6])].drop(columns='id_merchant')
anomalous3=anomalous3.sort_values(['id','amount'],ascending=False).drop(columns='date').reset_index().drop(columns='index')

anomalous3

interquartile range is 10.925

    amount  id
0   1911.0  16
1   1803.0  16
2   1634.0  16
3   1617.0  16
4   1430.0  16
5   1203.0  16
6   1131.0  16
7   1103.0  16
8   1014.0  16
9    393.0  16
10   229.0  16
11   178.0  16
12    89.0  16
13  1802.0  12
14  1678.0  12
15  1592.0  12
16  1530.0  12
17  1123.0  12
18  1108.0  12
19  1102.0  12
20  1075.0  12
21  1031.0  12
22   852.0  12
23   748.0  12
24   233.0  12
25  2108.0   6
26  2001.0   6
27  1856.0   6
28  1398.0   6
29  1379.0   6
30  1279.0   6
31  1145.0   6
32  1108.0   6
33  1029.0   6
34   389.0   6

In [ ]:
# Find anomalous transactions for 3 random card holders

In [89]:
id1=anomalous3[anomalous3['id']==16]
id2=anomalous3[anomalous3['id']==12]
id3=anomalous3[anomalous3['id']==6]
new=pd.concat([id1,id2,id3],axis='rows',join='inner')
new

    amount  id
0   1911.0  16
1   1803.0  16
2   1634.0  16
3   1617.0  16
4   1430.0  16
5   1203.0  16
6   1131.0  16
7   1103.0  16
8   1014.0  16
9    393.0  16
10   229.0  16
11   178.0  16
12    89.0  16
13  1802.0  12
14  1678.0  12
15  1592.0  12
16  1530.0  12
17  1123.0  12
18  1108.0  12
19  1102.0  12
20  1075.0  12
21  1031.0  12
22   852.0  12
23   748.0  12
24   233.0  12
25  2108.0   6
26  2001.0   6
27  1856.0   6
28  1398.0   6
29  1379.0   6
30  1279.0   6
31  1145.0   6
32  1108.0   6
33  1029.0   6
34   389.0   6